<p id="notice"><%= notice %></p>

<h1>Forums</h1>

<table>
  <thead>
    <tr>


      <th width="70%">Forum</th>
      <th width="30%">Last Post</th>
    </tr>
  </thead>

  <tbody>
    <% @forums.each do |forum| %>
      <tr>


        <td><h4><%= link_to h(forum.title), forum_path(forum.id) %></h4>
          <small><%= forum.topics.count %> topics</small><br />
          <%=h forum.description %><br />
          <div class="forum-details"
            <small>Created by: <%= forum.user.username if forum.user %>,
              <%= time_ago_in_words(forum.created_at) %> ago,
              Last updated: <%= time_ago_in_words(forum.updated_at) %> ago</small></td>
          </div>
        <td class="right"></td>
        <td><%= link_to 'Show', forum %></td>
        <td><%= link_to 'Edit', edit_forum_path(forum) %></td>
        <td><%= link_to 'Destroy', forum, method: :delete, data: { confirm: 'Are you sure?' } %></td>


      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Forum', new_forum_path %>
