<%= form_with(model: @map, url: user_adventure_map_path, local: true) do |form| %>
  <% if map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(map.errors.count, "error") %> prohibited this map from being saved:</h2>

      <ul>
      <% map.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <center>
    <div class="field">
      <div class="creature-heading"><h1><%= form.label :name, "New Name" %></h1>
        <h8><%= form.text_field :name, class:"form-control", id: :map_name %></h8>
      </div>
    </div>
  </center>


  <div class="field hide">
    <font color="white"><%= form.label :data %></font>
    <%= form.text_field :data, class:"form-control", id: :map_data %>
  </div>
  <br>

  <center>
    <div class="field">
      <div class="creature-heading"><h1><%= form.label :story, "New Story" %></h1>
        <h8><%= form.text_area :story, id: :map_story, class:"form-control", rows: 8 %></h8>
      </div>
    </div>
  </center>


  <div class="field hide">
    <%= form.label :adventure %>
    <%= form.text_field :adventure_id, :value => params[:adventure_id] %>
  </div>
  <br>
  <div class="value-button-save-big">
    <div class="actions">
      <%= form.submit "UPDATE MAP" %>
    </div>
  </div>

<% end %>
