<%= form_with(model: @map, url: user_adventure_maps_path(), local: true) do |form| %>
  <% if map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(map.errors.count, "error") %> prohibited this map from being saved:</h2>

      <ul>
      <% map.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <font color="white"><%= form.label :name, "Map Name" %></font>
    <%= form.text_field :name, class:"form-control", id: :map_name, placeholder: "Please don't leave this part blank", required: true  %>
  </div>

  <div class="field hide">
    <font color="white"><%= form.label :data %></font>
    <%= form.text_field :data, class:"form-control", id: :map_data %>
  </div>

  <div class="field">
    <font color="white"><%= form.label :story, "Story" %></font>
    <%= form.text_area :story, id: :map_story, class:"form-control", rows: 10, placeholder: "Please don't leave this part blank", required: true %>
  </div>

  <div class="field hide">
    <%= form.label :adventure %>
    <%= form.text_field :adventure_id, :value => params[:adventure_id] %>
  </div>


  <div class="actions">
    <%= form.submit "Create Map", class:"btn btn-success btn-md active"%>
  </div>

<% end %>
