<span id="edit_map-flag" style="display: none"></span>

<h1>Editing Map</h1>

<%= render "element_chooser" %>
<%= render "mapgrid" %>

<%= render 'form', map: @map %>

<%= link_to 'Back', adventures_path %>

<%= javascript_include_tag "_map_maker" %>
