




<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:700" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic" rel="stylesheet" type="text/css">

<span id="edit_map-flag" style="display: none"></span>

<div class="row">
  <div class="col-md-12">
    <div class="box-border">
      <div class="font-title"><font color="white"><td>EDIT YOUR MAP</td></font></div>
      <br>

      <div class="row">
        <div class="col-md-12">
          <div class="stat-block4 wide">
           <hr class="orange-border" />
            <div class="row">


              <div class="col-md-7">

                <span id="new_map-flag" style="display: none"></span>
                <br>
                <br>
                <%= render "element_chooser" %>
                <br>

                <svg height="5" width="100%" class="tapered-rule">
                  <polyline points="0,0 800,2.5 0,5"></polyline>
                </svg>
                <br>
                
                <br>
                <div class="col-md-offset-1">
                  <%= render "mapgrid" %>
                </div>

              </div>

              <div class="col-md-5">
                <br>
                <br>
                <%= render 'selected' %>
                <br>
                <br>

                <%= render 'form', map: @map %>

              </div>



              </div>
            </div>
            </hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%= javascript_include_tag "_map_maker" %>
