<span id="edit_map-flag" style="display: none"></span>
<br>
<br>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-offset-1">
			<div class="stat-block-2 wide">
				<br>
				<div class="col-md-7 col-md-offset-1">
					<div class="row">
						<div class="col-md-12">
							<%= render "element_chooser" %>
						</div>
						<br>
						<br>
						<br>
						<br>
						<div class="col-md-8">
							<%= render "selected" %>
						</div>
						<br>
						<br>
						<br>
						<br>
						<div class="col-md-12">
							<%= render "mapgrid" %>
						</div>
					</div>
				</div>
				<br>
				<br>
				<br>
				<br>
				<br>
				<div class="col-md-4">
					<%= render 'form', map: @map %>
				</div>
			</div>
		</div>
	</div>
</div>

<%= javascript_include_tag "_map_maker" %>
