<!--
<h1>New Map</h1>
-->
<!--
<div class="coordinate" style="background-image:url(<%= "/assets/images/Tree.png" %>); background-size:cover;"> </div>
-->

<div class="container-fluid">
  <ul>
    <div class="row">
        <div class="col-xs-2">
            <%= render "element_chooser" %>
        </div>
        <div class="col-xs-6">
            <%= render "mapgrid" %>
        </div>
    </div>
    <div class="col-9">
        <%= render 'form', map: @map %>
    </div>
  </ul>
</div>









<%= link_to 'Back', maps_path %>


<%= javascript_include_tag "_map_maker" %>
<!--make sure to precompile! -->
