<br>
<div class="container">
  <div class="row">
    <div class="col-md-10">
<div class="tutorial">
          <p>To create a map, select which elements you want to place from the dropdown menus and click on the tiles to place them</p>
        </div>
      </div>
    </div>
  </div>
<span id="new_map-flag" style="display: none"></span>

<br>
<br>
<div class="container">
  <div class="row">

    <div class="col-md-5 col-md-offset-1">
      <%= render "element_chooser" %>
    </div>

    <div class="col-md-5 col-md-offset-1">
      <%= render 'selected' %>
    </div>
  </div>

    <div class="row">

        <div class="col-md-7">
            <div class="jumbotron"><%= render "mapgrid" %></div>
        </div>
        <div class="jumbotron">
            <div class="col-md-3" style="text-align: center;">
              <%= render 'new_map_form', map: @map %>
              <%= link_to 'CANCEL', user_adventures_path, class:"btn btn-danger btn-md btn-block active" %>
            </div>
        </div>
    </div>
</div>

<%= javascript_include_tag "_map_maker" %>
