<span id="show_map-flag" style="display: none"></span>
<br>
<br>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 col-md-offset-1">
			<div class="row">
				<br>
				<div class="col-md-12">
					<%= render "mapgrid" %>
				</div>
			</div>
		</div>
		<div class="col-md-5">
      <table>
        <thead>
          <tr>
            <th>Map Name</th>
            <th>Map Story</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @map.name %></td>
            <td><%= @map.story %></td>
          </tr>
        </tbody>
      </table>
		</div>
</div>

<%= form_with(model: @map, url: user_adventure_map_path, local: true) do |form| %>
  <div class="field hide">
    <font color="white"><%= form.label :data %></font>
    <%= form.text_field :data, class:"form-control", id: :map_data %>
  </div>
<% end %>

<%= javascript_include_tag "_map_maker" %>
