<span id="show_map-flag" style="display: none"></span>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @map.name %>
</p>

<p>
  <strong>Data:</strong>
  <div id="map_data">
  <%= @map.data %>
  </div>
</p>

<%= render "mapgrid" %>

<%= link_to 'Edit', edit_map_path(@map) %> |
<%= link_to 'Back', maps_path %>

<%= javascript_include_tag "_map_maker" %>
<!--
<script>
var savedState = JSON.parse($("#map_data").html())
console.log(savedState)
for (var i = 0; i < savedState.length; i++) {
  for (var j = 0; j < savedState[i].length; j++) {
    var stringID = String(i) + String(j)
    var currGridCoord = $("#" + stringID)
    var currGridElement = savedState[i][j]
    if (currGridElement) {
      currGridCoord.html(currGridElement)
    } else {
      currGridCoord.html("Nil")
    }
  }
}
</script>
-->
