<span id="show_map-flag" style="display: none"></span>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @map.name %>
</p>

<p>
  <strong>Data:</strong>
  <div id="map_data">
  <%= @map.data %>
  </div>
</p>

<p>
  <strong>Adventure:</strong>
  <%= @map.adventure.title %>
</p>

<%= render "mapgrid" %>

<td><%= link_to 'EDIT', edit_user_adventure_map_path(id: @map.id), class:"btn btn-info btn-sm active"%></td>
<td><%= link_to 'BACK', user_adventure_maps_path(), class:"btn btn-info btn-sm active" %> </td>

<%= javascript_include_tag "_map_maker" %>
