

<!-- <div id="modal-iFrame" class="iziModal"></div>

<button class="waves-effect waves-light btn-large red darken-2 trigger-iFrame">Modal iFrame</button> -->


<button class="btn btn-link btn-lg active" data-izimodal-open="#modal-custom">LOGIN</button>
<!-- <button class="trigger-custom" data-izimodal-open="#modal-custom">Login/Sign Up</button> -->

<%= javascript_include_tag "_login" %>

<div id="modal-custom" data-iziModal-group="group1">
    <button data-iziModal-close class="icon-close">x</button>
    <header>
        <a href="" class="active">LOGIN</a>
        <a href="" id="signin">SIGN UP</a>
    </header>
    <section class>
      <%= form_for(:session, :html => {class: "form-horizontal", role: "form"}, url: login_path) do |f| %>
          <%= f.label :email %>
          <%= f.email_field :email, class: "form-control", id: :login_email, placeholder: "Enter your email.", autofocus: true %>

          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control", id: :login_password, placeholder: "Enter your password.", autocomplete: "off" %>
          <div class="button-color">
            <%= f.submit "LOGIN", class: "btn btn-danger btn-lg" %>
          </div>
      <% end %>
    </section>
    <section class="hide">
      <%= form_for User.new, url: register_path do |f| %>

        <%= f.label :username %>
        <%= f.text_field :username, id: :signup_name, placeholder: "Enter a unique username.", autofocus: true %>

        <%= f.label :email %>
        <%= f.email_field :email, id: :signup_email, placeholder: "Enter your email.", autofocus: true %>

        <%= f.label :password %>
        <%= f.password_field :password, id: :signup_password, placeholder: "Enter your password of at least five characters.", autofocus: true %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, id: :signup_confirmation, placeholder: "Enter your password again." %>

        <%= f.submit "CREATE MY ACCOUNT", class: "btn btn-danger btn-lg" %>

      <% end %>
    </section>
</div>



<!-- <html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="iziModal.min.css">
  <script src="iziModal.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="path_to/jquery.leanModal.min.js"></script>
</head>
<body>
<div id="modal">
</div>

<%= javascript_include_tag "_login" %>




<div class="container">
  <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal2">Sign Up</button>

  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Sign Up</h4>
        </div>
        <div class="modal-body">
          <div id="modal_trigger" title="Sign Up">
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <%= form_for(User.new) do |f| %>

                  <%= f.label :username %>
                  <%= f.text_field :username %>

                  <%= f.label :email %>
                  <%= f.email_field :email %>

                  <%= f.label :password %>
                  <%= f.password_field :password %>

                  <%= f.label :password_confirmation, "Confirmation" %>
                  <%= f.password_field :password_confirmation %>

                  <%= f.submit "Create my account", class: "btn btn-primary" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

</div>

</body>
</html> -->
