<div class="container-fluid">

  <div class="row">
    <div class="col-md-4">
      <div class="box-border2">

        <center><%= gravatar_for @user, size: 150 %></center>

        <div class="row">
          <div class="col-md-12">
            <div class="stat-block3 wide">
              <center>

              <hr class="orange-border" />
                <div class="section-left">
                  <div class="creature-heading">


                      <h7><%= @user.username %></h7>
                      <br>
                      <svg height="5" width="100%" class="tapered-rule">
                        <polyline points="0,0 400,2.5 0,5"></polyline>
                      </svg>
                      <h7><%= @user.email %></h7>
                      <br>


                    </div>
                    <svg height="5" width="100%" class="tapered-rule">
                      <polyline points="0,0 400,2.5 0,5"></polyline>
                    </svg>
                </div>
              </hr>
            </center>

            </div>

        </div>
        <br>
        </div>


        <br>
        <% if current_user == @user %>
          <center>
          <div class="edit-profile">
            <%= link_to 'EDIT PROFILE', edit_user_path(@user) %>
          </div>
          </center>
          <br>
          <ul><center><%= render 'adventures/modal', adventure: @adventure %></center></ul>
          <br>
          <ul><center><%= render 'characters/modal', character: @character, user: current_user %></center></ul>


        <% end %>
      </div>
      <!-- <p><%= link_to 'Back', users_path, class:"btn btn-warning btn-lg active" %></p> -->
    </div>





    <div class="col-md-8">

      <div class="box-border2">
        <div class="row">


        <% if current_user == @user %>
          <div class="font-title"><font color="white"><td>YOUR ADVENTURES</td></font></div>
        <% else %>
          <div class="font-title"><font color="white"><td> VIEW <%=  %> 'S ADVENTURES</td></div>
        <% end %>

        <div id= 'adventure-showings'>
          <%= render 'adventure_showings'%>
        </div>

        </div>
         <% if current_user == @user %>
           <div class="font-title"><font color="white"><td>YOUR CHARACTERS</td></font></div>
         <% else %>
           <div class="font-title"><font color="white"><td> VIEW <%=  %> 's CHARACTERS </td></div>
         <% end %>
         <div id = 'character-showings'>
           <%= render 'character_showings'%>
         </div>
        </div>
          <br>
      </div>
    </div>
 </div>
</div>
