<div class="container-fluid">
  <div class="row">
    <div class="col-md-5 col-md-offset-7">
      <div class="login-page">
        <div class="form">
          <font color="black"><div class="login-headline">SIGN UP</div></font>
          <br>
          <%= form_for(User.new) do |f| %>
          <font color="black"><%= f.label :username, "USERNAME" %></font>
          <%= f.text_field :username , class:"form-control", placeholder:"Please create your username", autofocus: true%>
          <br>
          <font color="black"><%= f.label :email, "EMAIL" %></font>
          <%= f.email_field :email, class:"form-control", placeholder:"Please fill in your email address", autofocus: true %>
          <br>
          <font color="black"><%= f.label :password, "PASSWORD" %></font>
          <%= f.password_field :password, class:"form-control", placeholder:"Please create your password", autofocus: true %>
          <br>
          <font color="black"><%= f.label :password, "CONFIRMATION" %></font>
          <%= f.password_field :password_confirmation, class:"form-control", placeholder:"Confirmation of your password", autofocus: true%>
          <br>
          <%= f.submit "CREATE ACCOUNT", class: "btn btn-danger btn-lg btn-block active" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="center jumbotron">
  <div class="center">
    <%= javascript_include_tag "_login" %>
    <div id="modal-custom" data-iziModal-group="group1">
      <button data-iziModal-close class="icon-close, hide">x</button>
      <header class="hide">
        <a href="" class="active">LOGIN</a>
        <a href="" id="signin">SIGN UP</a>
      </header>
      <section class="hide" style="background-color: black;">
        <%= form_for(:session, :html => {class: "form-horizontal", role: "form"}, url: login_path) do |f| %>
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control", placeholder: "Enter your email.", autofocus: true %>

        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control", placeholder: "Enter your password.", autocomplete: "off" %>
        <%= f.submit "LOGIN", class: "btn btn-primary btn-lg" %>
        <% end %>
      </section>
      <section class="hide">
        <%= form_for(User.new) do |f| %>

        <%= f.label :username %>
        <%= f.text_field :username %>

        <%= f.label :email %>
        <%= f.email_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation %>

        <%= f.submit "CREATE MY ACCOUNT", class: "btn btn-primary btn-lg" %>
        <% end %>
      </section>
    </div>
  </div>
</div>
