<div class="center jumbotron">
  
  <% if !logged_in? %>
    <div class="center">
     <a href="http://dnd.wizards.com/dungeons-and-dragons/what-is-dd"><button class="btn btn-info btn-lg" >Tutorial</button></a>
      <%= javascript_include_tag "_login" %>
      <div id="modal-custom" data-iziModal-group="group1">
        <button data-iziModal-close class="icon-close, hide">x</button>
        <header class="hide">
            <a href="" class="active">Login</a>
            <a href="" id="signin">Sign Up</a>
        </header>
        <section class="hide" style="background-color: black;">
          <%= form_for(:session, :html => {class: "form-horizontal", role: "form"}, url: login_path) do |f| %>
              <%= f.label :email %>
              <%= f.email_field :email, class: "form-control", placeholder: "Enter your email.", autofocus: true %>

              <%= f.label :password %>
              <%= f.password_field :password, class: "form-control", placeholder: "Enter your password.", autocomplete: "off" %>
              <%= f.submit "Login", class: "btn btn-primary btn-lg" %>
          <% end %>
        </section>
        <section class="hide">
          <%= form_for(User.new) do |f| %>

            <%= f.label :username %>
            <%= f.text_field :username %>

            <%= f.label :email %>
            <%= f.email_field :email %>

            <%= f.label :password %>
            <%= f.password_field :password %>

            <%= f.label :password_confirmation, "Confirmation" %>
            <%= f.password_field :password_confirmation %>

            <%= f.submit "Create my account", class: "btn btn-primary btn-lg" %>
          <% end %>
        </section>
      </div>
    </div>
  <% end %>
</div>
