<div class="center jumbotron">

  <h1><font color="white">AR DnD MAP GENERATOR</font></h1>

  <div class="text-center">
    <a class="waves-effect waves-light btn-large red darken-2 trigger-iFrame" data-izimodal-open="#modal-custom">Login/Sign Up</a>
    <%= javascript_include_tag "_login" %>
      <div id="modal-custom" data-iziModal-group="group1">
        <button data-iziModal-close class="icon-close, hide">x</button>
        <header class="hide">
            <a href="" class="active">Login</a>
            <a href="" id="signin">Sign Up</a>
        </header>
        <section class="hide">
          <%= form_for(:session, :html => {class: "form-horizontal", role: "form"}, url: login_path) do |f| %>
              <%= f.label :email %>
              <%= f.email_field :email, class: "form-control", placeholder: "Enter your email.", autofocus: true %>

              <%= f.label :password %>
              <%= f.password_field :password, class: "form-control", placeholder: "Enter your password.", autocomplete: "off" %>
              <%= f.submit "Login", class: "btn btn-primary btn-lg" %>
          <% end %>
        </section>
        <section class="hide">
          <%= form_for(User.new) do |f| %>

            <%= f.label :username %>
            <%= f.text_field :username %>

            <%= f.label :email %>
            <%= f.email_field :email %>

            <%= f.label :password %>
            <%= f.password_field :password %>

            <%= f.label :password_confirmation, "Confirmation" %>
            <%= f.password_field :password_confirmation %>

            <%= f.submit "Create my account", class: "btn btn-primary btn-lg" %>
          <% end %>
        </section>
    </div>
  </ul>

</div>
