<%= form_with(model: @adventure, url: user_adventure_path(current_user), local: true) do |form| %>
  <% if adventure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(adventure.errors.count, "error") %> prohibited this adventure from being saved:</h2>

      <ul>
      <% adventure.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-md-offset-2">
        <div class="field">
          <div class="font-title-2"><font color="white"><%= form.label :title, "TITLE" %></font></div>
          <%= form.text_field :title, id: :adventure_title %>
        </div>
        <br>
        <div class="field">
          <div class="font-title-2"><font color="white"><%= form.label :story, "STORY" %></font></div>
          <%= form.text_area :story, id: :adventure_story, rows: 10%>
        </div>

        <div class="dropdown">
          <button class="btn btn-warning btn-lg dropdown-toggle active" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Characters
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <% current_user.characters.each do |character| %>
             <div class="checkbox">
                <label>
                  <%= check_box_tag 'characters[]', character.id -%>
                  <%= h character.name -%>
                </label>
              </div>
            <% end %>
          </ul>
        </div>

        <div class="field hide">
          <%= form.label :user_id %>
          <%= form.text_field :user_id, id: :adventure_user_id%>
        </div>

        <br>
        <div class="actions">
          <%= form.submit "SAVE CHANGES", class:"btn btn-success btn-lg active" %>
        </div>
      </div>

      <div class="col-md-5">
        <div class="font-title-2"><font color="white"><h1>MAP TABLE</h1></font></div>
        <br>
        <table>
          <thead>
            <tr>
              <th>Map Name</th>
              <th>Map Configuration</th>
              <th>Map Story</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @adventure.maps.each do |map| %>
            <tr>
              <td><%= map.name %></td>
              <td><%= render 'display_map', map: map%></td>
              <td><%= map.story %></td>

              <% if @adventure.user == current_user%>
                <td><%= link_to 'EDIT', edit_user_adventure_map_path(user_id: @adventure.user.id, adventure_id: @adventure.id, id: map.id), class:"btn btn-info btn-sm active" %></td>
                <td><%= link_to 'DELETE', user_adventure_map_path(user_id: @adventure.user.id, adventure_id: @adventure.id, id: map.id), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-sm active" %></td>
              <% else  %>
                <td><%= link_to 'SHOW', user_adventure_map_path(user_id: @adventure.user.id, adventure_id: @adventure.id, id: map.id) %></td>
              <% end %>
            </tr>
            <% end %>
          </tbody>
        </table>
        <br>
        <% if @adventure.user == current_user%>

        <%= link_to 'ADD MAP', new_user_adventure_map_path(adventure_id: @adventure.id), class:"btn btn-info btn-lg btn-block active" %>
        <br>
        <%= link_to 'BACK', user_path(@adventure.user.id), class:"btn btn-danger btn-lg btn-block active" %>
        <br>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
