<!-- <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:700" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic" rel="stylesheet" type="text/css">

<%= form_with(model: @adventure, url: user_adventure_path(current_user), local: true) do |form| %>
  <% if adventure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(adventure.errors.count, "error") %> prohibited this adventure from being saved:</h2>

      <ul>
        <% adventure.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>

    </div>
  <% end %>

<div class="row">
  <div class="col-md-12">
    <div class="box-border">
      <div class="font-title"><font color="white"><td>EDIT YOUR ADVENTURE</td></font></div>
      <br>


            <div class="row">
              <div class="col-md-12">
                <div class="stat-block wide2">
                 <hr class="orange-border" />
                 <div class="col-md-4">

                      <div class="field">
                         <div class="creature-heading">
                           <h1><%= form.label :title, "TITLE" %></h1>
                           <%= form.text_field :title, id: :adventure_title %>
                         </div>
                       </div>

                       <br>
                       <svg height="5" width="100%" class="tapered-rule">
                         <polyline points="0,0 200,2.5 0,5"></polyline>
                       </svg>
                        <div class="field">
                         <div class="creature-heading">
                           <h1><%= form.label :story, "STORY" %></h1>
                           <%= form.text_field :title, id: :adventure_title %>
                         </div>
                       </div>
                       <svg height="5" width="100%" class="tapered-rule">
                     	   <polyline points="0,0 200,2.5 0,5"></polyline>
                     	 </svg>
                       <div class="field hide">
                         <%= form.label :user_id %>
                         <%= form.text_field :user_id, id: :adventure_user_id%>
                       </div>
                       <br>

                       <td>
                         <div class="value-button-add">
                           <%= link_to 'ADD MAP', new_user_adventure_map_path(adventure_id: @adventure.id) %>
                         </div>
                       </td>

                       <br>
                       <td>
                         <div class="value-button-save">
                           <div class="actions">
                             <%= form.submit "SAVE CHANGES" %>
                           </div>
                         </div>
                       </td>
                       <br>
                       <td>
                         <div class="value-button-back">
                           <%= link_to 'BACK', user_path(@adventure.user.id) %>
                         </div>
                       </td>

                   </div>
                 </hr>


               <div class="col-md-8">
                 <div class="row">
                   <div class="creature-heading">
                     <h1>Maps</h1>
                     <svg height="5" width="100%" class="tapered-rule">
                       <polyline points="0,0 600,2.5 0,5"></polyline>
                     </svg>
                     <div id = "map-showings">
                       <%= render 'map_showings'%>
                     </div>
                  </div>
               </div>
             </div>

           <br>
          </div>
       </div>
    </div>
  </div>
<% end %>

<%= render 'character_chooser'%> -->

<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:700" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic" rel="stylesheet" type="text/css">

<%= render 'character_chooser'%>


<%= form_with(model: @adventure, url: user_adventure_path(current_user), local: true) do |form| %>
  <% if adventure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(adventure.errors.count, "error") %> prohibited this adventure from being saved:</h2>

      <ul>
      <% adventure.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <div class="box-border">
        <div class="font-title"><font color="white"><td>EDIT YOUR ADVENTURE</td></font></div>
        <br>

        <div class="row">
          <div class="col-md-12">
            <div class="stat-block wide2">
             <hr class="orange-border" />
             <div class="col-md-4">









                 <div class="field">
                   <div class="creature-heading"><h1><%= form.label :title, "TITLE" %></h1>
                     <h8><%= form.text_field :title, id: :adventure_title %></h8>
                   </div>
                 </div>



                   <br>
                   <svg height="5" width="100%" class="tapered-rule">
                     <polyline points="0,0 200,2.5 0,5"></polyline>
                   </svg>

                   <div class="field">
                     <div class="creature-heading"><h1><%= form.label :story, "Story" %></h1>
                       <h8><%= form.text_field :story, id: :adventure_story, rows: 8 %></h8>
                     </div>
                   </div>


                   <svg height="5" width="100%" class="tapered-rule">
                     <polyline points="0,0 200,2.5 0,5"></polyline>
                   </svg>
                   <div class="field hide">
                     <%= form.label :user_id %>
                     <%= form.text_field :user_id, id: :adventure_user_id%>
                   </div>
                   <br>
                   <% if @adventure.user == current_user%>
                     <td>
                       <div class="value-button-add">
                         <%= link_to 'ADD MAP', new_user_adventure_map_path(adventure_id: @adventure.id) %>
                       </div>
                     </td>

                     <br>
                     <td>
                       <div class="value-button-save">
                         <div class="actions">
                           <%= form.submit "SAVE CHANGES" %>
                         </div>
                       </div>
                     </td>
                     <% end %>
                   <br>
                   <br>

                   <td>
                     <div class="value-button-back">
                       <%= link_to 'BACK', user_path(@adventure.user.id) %>
                     </div>
                   </td>
                 </div>


                   <div class="col-md-8">
                     <div class="row">
                       <div class="creature-heading">
                         <h1>Maps</h1>
                         <svg height="5" width="100%" class="tapered-rule">
                           <polyline points="0,0 600,2.5 0,5"></polyline>
                         </svg>
                         <div id = "map-showings">
                           <%= render 'map_showings'%>
                         </div>
                      </div>
                    </div>
                  </div>








  </div>

</div>
</div>
</div>
</div>
</div>

<% end %>
