<%= form_with(model: @adventure, url: user_adventures_path(), local: true) do |form| %>
  <% if adventure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(adventure.errors.count, "error") %> prohibited this adventure from being saved:</h2>

      <ul>
      <% adventure.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="field">
        <font color="white"><%= form.label :title, "Adventure Name" %></font>
        <%= form.text_field :title, id: :adventure_title, class:"form-control" %>
      </div>

      <div class="field">
        <font color="white"><%= form.label :story %></font>
        <%= form.text_area :story, id: :adventure_story, class:"form-control", rows: 10 %>
      </div>

      <div class="field hide">
        <font color="white"><%= form.label :user %></font>
        <%= form.text_field :user_id, :value => params[:user_id] %>
      </div>
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown with selection
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <% current_user.characters.each do |character| %>
           <div class="checkbox">
              <label>
                <%= check_box_tag 'characters[]', character.id -%>
                <%= h character.name -%>
              </label>
            </div>
          <% end %>
        </ul>
      </div>

      <br>
      <div class="actions">
        <%= form.submit "CREATE ADVENTURE", class:"btn btn-info btn-lg btn-block active" %>
      </div>
      <%= link_to 'CANCEL/BACK', user_adventures_path(current_user), class:"btn btn-danger btn-lg btn-block active" %>
    </div>
  </div>
<% end %>
