<<<<<<< HEAD


<%= render 'edit_form', adventure: @adventure %>


<!--<%= link_to 'Show', @adventure %> | -->
<%= link_to 'Back', user_path(@adventure.user.id) %>
=======
<p id="notice"><%= notice %></p>
<div class="tutorial">
  <p>Now that you've created an adventure, go play it on our iOS app! </p>
  <p></p>
</div>
<%= render 'edit_form', adventure: @adventure %>

<%= link_to 'Back', user_path(@adventure.user.id) %>
>>>>>>> 2cac2846a1dc74da2d3f7b37599974ecce34bd66
