<!DOCTYPE html>
<html>
  <head>
    <title>
      AR Dugenon&Dragons
    </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
      <% if logged_in? %>
        <div class="col-xs-3">
          <%= render 'layouts/logged_in_sidebar' %>
        </div>
      <% end %>
    <div class="col-xs-9">


    <%= yield %>
    </div>
    <%= render 'layouts/footer'%>
  </body>
</html>
